// RESPONSIVE BREAKPOINTS
$bp-lg: 80em; //1280px
$bp-md: 60em; //960px
$bp-sm: 37.5em; //600px

// SPACING VARIABLES
$pad-lg: 12rem;
$pad-md: 5rem;
$pad-sm: 3rem;
$pad-xs: 1.5rem;

$marg-lg: 12rem;
$marg-md: 5rem;
$marg-sm: 3rem;
$marg-xs: 1.5rem;

@media (max-width: $bp-md) {
  $pad-lg: 8rem;
  $marg-lg: 8rem;
}

// COLOR VARIABLES
$color-primary: #77cb5c;
$color-secondary: #e0bf24;
$color-tertiary: #bd338e;

$color-light: #fff;
$color-dark: #333;
$color-light-gray: #eee;
$text-dark: #222;
$text-light: #fff;

// FONT VARIABLES

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: $text-dark;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  line-height: 1.2;
  color: $text-dark;
}

p,
li {
  font-family: "Hind", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $text-dark;
}

.body-text {
  font-size: 1.6rem;
  color: $text-dark;
}

h1 {
  font-size: 8rem;
  @media (max-width: $bp-sm) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.section-heading {
  margin-bottom: $marg-sm;
  text-align: center;
}

.card-heading {
  margin-bottom: $marg-xs;
}

// CONTAINERS
$page-content-width: 96rem;

.container-centered-content {
  max-width: $page-content-width;
  margin: 0 auto;
  padding: $pad-lg $pad-xs;
}

.container-flex {
  display: flex;
  justify-content: center;
  max-width: $page-content-width;
  @media (max-width: $bp-md) {
    flex-direction: column;
  }
}

.full-width {
  max-width: 100%;
}

// CONTAINER SHADOW
.box-shadow {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

// BUTTONS
%btn-shared {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.8rem 1.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 2rem;
  overflow: hidden;
  margin-top: $marg-sm;
  transition: all 1s;
  &:focus {
    outline: none;
  }
}

.btn {
  &-outline {
    @extend %btn-shared;

    width: 21rem;
    min-height: 5rem;
    background-color: transparent;
    color: $color-primary;
    border: 0.1rem solid $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $text-dark;
    }
  }
}

// SECTION DIVIDER
.section-divider {
  max-width: $page-content-width;
  background-color: $color-primary;
  border: none;
  margin: 0 auto;
  height: 0.1rem;

  @media (max-width: $bp-md) {
    max-width: 80%;
  }
}

// BASICS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-md) {
    font-size: 55%;
  }
}

body {
  background-color: $color-light;
}

ul {
  list-style: none;
}
