//HERO SECTION
.hero {
  background-color: lawngreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    text-align: center;
  }
}

// ABOUT SECTION
.about {
  text-align: center;
}

// SKILLS SECTION
.skills {
  background-color: $color-secondary;
  text-align: center;

  &-card {
    padding: $pad-md;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &-icon {
    background: linear-gradient(180deg, #bd338e 0%, #689751 100%);
    font-size: 3rem;
    margin-bottom: $marg-sm;
  }
}
