// SHARED
.volunteer-info,
.education-info {
  width: 60%;
  padding: 0 $pad-xs;
  @media (max-width: $bp-sm) {
    width: 100%;
  }

  h3 {
    margin-top: $marg-xs;
  }

  .date {
    color: $color-tertiary;
  }

  ul {
    list-style-type: circle;
    margin-left: 2rem;

    li span {
      position: relative;
      left: -0.5rem;
    }
  }
}

.img-area {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
  }

  @media (max-width: $bp-sm) {
    width: 75%;
    margin: $marg-xs auto;
  }
}

// VOLUNTEER SECTION

// EDU SECTION
.flex-reverse {
  flex-direction: row-reverse;
  @media (max-width: $bp-sm) {
    flex-direction: column;
  }

  .bold {
    font-weight: bold;
  }

  .btn-outline {
    margin-top: $marg-xs;
    width: 60%;
    font-size: 1.8rem;
  }
}

// CAROUSEL
.carousel {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  &-close {
    display: none;
  }

  &-open {
    display: contents;
  }

  &-section-top {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-img {
    width: 100%;
    height: auto;
  }

  &-section-bottom {
    background-color: salmon;
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    &-left {
      background-color: rebeccapurple;
      display: flex;
      flex-direction: column;
      .item-count {
        font-size: 1.3rem;
      }
    }

    .close-icon {
      font-size: 3rem;
      color: $text-dark;
    }
  }

  &-chevron {
    background-color: rgba(0, 0, 0, 0.5);
    color: $text-light;
    font-size: 5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    &-left {
      justify-self: flex-start;
    }

    &-right {
      justify-self: flex-end;
      background-color: seagreen;
    }
  }
}
